// ==============================
// Layout
// ========================================

body {
  position: relative;
  min-height: 100vh; // Fix for iOS WebKit bug #150715 https://bugs.webkit.org/show_bug.cgi?id=150715

  position: relative;
  top: -20px;
  opacity: 0;
  transition: opacity 0.3s, top 0.35s;

  .domready & {
    top: 0;
    opacity: 1;
  }
}

.page {
  position: relative;
  background-color: transparent;
  margin: 0 auto;
  max-width: $page-max-width;
  z-index: $zindex-main;
}
