// ==============================
// Variables
// ========================================

// ====================
// Table of Contents
//
// Colors
// Options
// Spacing
// Borders
// Links
// Grid breakpoints
// Grid gutters
// Grid containers
// Grid columns
// Typography
// Tranisitions (bootstrap)
// Components
// ========================================


// ====================
// Options
// ========================================

$enable-grid-classes: true !default;

// ====================
// Colors
// ========================================

// Black
//
$color-black: #000;

// White
//
$color-white: #fff;

// Grays
//
$color-grey: #949494;
$color-grey-dark: #494b52;

// Theme colors
//
$color-a-primary: #4cd147;
$color-b-primary: #29fa7a;
$color-c-primary: #befc33;
$color-d-primary: #fc1561;
$color-e-primary: #8c60f4;
$color-f-primary: #29eafd;

// Social icons
//
$color-facebook: #3b5998;
$color-linkedin: #0077b5;
$color-pinterest: #e7295d; // offical color is #bd081c
$color-twitter: #55acee;
$color-whatsapp: #25d366;
$color-instagram: #5b6ad3;
$color-youtube: #cd201f;

// Body colors
//
$body-bg: $color-black;
$body-color: $color-white;

// ====================
// Options
// Quickly modify global styling by enabling or
// disabling optional features.
// ========================================

$enable-print-styles: true;
$enable-flexbox: true;

// ====================
// Spacing
// ========================================

$spacer: 20px;
$spacer-x: $spacer;
$spacer-y: $spacer;
$gutter-width: 20px;

// ====================
// Borders
// ========================================

$border-width: 3px;
$border-color: $color-grey;

// ====================
// Links
// ========================================

$link-color: $body-color;
$link-decoration: underline;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: none;
$link-hover-transition-time: 0.15s;

// ====================
// Section
// ========================================

$section-spacer-y: 20px;

// ====================
// Breakpoints
// ========================================

$page-max-width: 1920px;

$image-breakpoint: 700px;

$mq-breakpoints: (
  mobile:  320px,
  mobileLandscape: 480px,
  tablet:  768px,
  tabletLandscape: 1024px,
  desktop: 1025px,
  wide:    1441px
);

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  tablet:  768px,
  desktop: 992px,
  wide:    1280px
);

@include _assert-ascending($container-max-widths, "$container-max-widths");

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12 !default;
$grid-gutter-width:           30px !default;


// ====================
// Typography
// ========================================

// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: 'Lato', sans-serif;
$font-family-serif: 'Spectral', serif;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base: $font-family-sans-serif;

$font-size-base: 1.175rem;
$font-size-html: 18px;
$font-size-html-desktop: 22px;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;

$font-weight-normal: normal;
$font-weight-bold: bold;

$font-weight-base: $font-weight-normal;
$line-height-base: 1.3335; // 24px based on 18px base font
$line-height-base-desktop: 1.4545454545; // 32px based on 22px base font

$font-size-h1: 28px;
$font-size-h1-tablet: 32px;
$font-size-h1-desktop: 40px;

$font-size-h2: 24px;
$font-size-h2-tablet: 28px;
$font-size-h2-desktop: 30px;

$font-size-h3: 22px;
$font-size-h3-tablet: 26px;
$font-size-h3-desktop: 30px;

$font-size-h4: 18px;
$font-size-h4-tablet: 22px;
$font-size-h4-desktop: 26px;

$font-size-h5: 16px;
$font-size-h5-tablet: 18px;
$font-size-h5-desktop: 24px;

$font-size-h6: 16px;
$font-size-h6-tablet: 18px;
$font-size-h6-desktop: 24px;

$headings-margin-bottom: ($spacer/2);
$headings-font-family: $font-family-serif;
$headings-font-weight: 500;
$headings-line-height: 1.2;
$headings-color: inherit;

// Display sizing
//
$display1-font-family: $font-family-serif;
$display1-font-size: 24px;
$display1-font-size-tablet: 24px;
$display1-font-size-desktop: 28px;
$display1-font-weight: bold;
$display1-line-height: 00.8;

$display2-font-family: $font-family-base;
$display2-font-size: 16px;
$display2-font-size-tablet: 20px;
$display2-font-weight: bold;
$display2-line-height: 1.2;
$display2-font-size-card: 12px;
$display2-font-size-card-tablet: 14px;

$display3-font-family: $font-family-base;
$display3-font-size: 24px;
$display3-font-size-tablet: 34px;
$display3-font-size-desktop: 42px;
$display3-font-weight: bold;
$display3-line-height: 1;

// Lead
//
$lead-font-size: 22px;
$lead-font-weight: 700;
$lead-line-height: 30px;

// Small
//

$small-font-size: 14px;
$small-font-weight: bold;
$small-line-height: inherit;

// Muted
//
$text-muted: $color-grey;

// Abbreviation
//
$abbr-border-color: $color-grey;

// Blockquote
$blockquote-small-color: $color-grey;
$blockquote-font-size: ($font-size-base * 1.0909090909);
$blockquote-border-color: lighten($color-a-primary, 25%);
$blockquote-border-width: .25rem !default;

// Lists
//
$dt-font-weight: bold;
$list-inline-padding: 5px;

// ====================
// Z-index master list
// ========================================

// ====================
// Components
// ========================================

// ====================
// Tables
// Customizes the `.table` component with basic values, each used across all table variations
// ========================================

$table-cell-padding: 12px;
$table-sm-cell-padding: 4px;

$table-bg: transparent;
$table-bg-accent: #f9f9f9;
$table-bg-hover: #f5f5f5;
$table-bg-active: $table-bg-hover;

$table-border-width: $border-width;
$table-border-color: $color-grey;

// ====================
// Buttons
// ========================================

$btn-border-radius: 0px;
$btn-font-family: $font-family-base;
$btn-font-size: 18px;
$btn-font-weight: bold;
$btn-line-height: 30px;
$btn-padding-x: 18px;
$btn-padding-y: 5px;
$btn-block-spacing-y: 8px;
$input-btn-border-width: $border-width;

// Small button
//
$btn-sm-border-radius: 0px;
$btn-sm-font-size: 14px;
$btn-sm-font-weight: 400;
$btn-sm-line-height: 28px;
$btn-sm-padding-x: 14px;
$btn-sm-padding-y: 0px;

// ====================
// Card
// ========================================

$card-bg: $body-color;
$card-color: $color-black;
$card-margin-bottom: 32px;
$card-padding-x: 16px;
$card-padding-y: 16px;
$card-padding-x-desktop: 20px;
$card-padding-y-desktop: 20px;

$card-deck-margin: 30px;

$card-title-font-size: $font-size-h2;
$card-title-font-size-lg: $font-size-h2-tablet;
$card-meta-font-size: 21px;
$card-icons-font-size: 14px;

$card-text-link-color: $link-color;
$card-text-link-decoration: $link-decoration;
$card-text-link-hover-color: $link-hover-color;
$card-text-link-hover-decoration: $link-hover-decoration;

$card-social-text-font-size: 18px;


// ====================
// Forms
// ========================================

$cursor-disabled: not-allowed;

// ====================
// Breadcrumbs
// ========================================

$breadcrumb-padding-y: 4px;
$breadcrumb-item-padding: 4px;
$breadcrumb-divider-color: $color-d-primary;
$breadcrumb-divider: "/";

// ====================
// Icons
// ========================================

$icon-sm-dimensions: 40px;
$icon-sm-dimensions-svg: 26px;

$icon-lg-dimensions: 42px;
$icon-lg-dimensions-svg: 30px;
