// ==============================
// Backgrounds
// ========================================

// Transparent
.bg--transparent { background-color: transparent; }

// Light
.bg--light { background-color: $color-white; }

//Dark
.bg--dark { background-color: $color-grey-dark; }

// Theme colors
.bg--a { background-color: $color-a-primary; }
.bg--b { background-color: $color-b-primary; }
.bg--c { background-color: $color-c-primary; }
.bg--d { background-color: $color-d-primary; }
.bg--e { background-color: $color-e-primary; }
.bg--f { background-color: $color-f-primary; }