// ==============================
// Spacing
// ========================================

// ==============================
// margin
// ========================================

.m-0 { margin: 0 !important; }
.m-1 { margin: ($spacer) !important; }
.m-2 { margin: ($spacer * 2) !important; }
.m-3 { margin: ($spacer * 3) !important; }
.m-4 { margin: ($spacer * 4) !important; }

// ==============================
// margin-bottom
// ========================================

.mb-0 { margin-bottom: 0 !important; }
.mb-1 { margin-bottom: ($spacer-y) !important; }
.mb-2 { margin-bottom: ($spacer-y * 2) !important; }
.mb-3 { margin-bottom: ($spacer-y * 3) !important; }
.mb-4 { margin-bottom: ($spacer-y * 4) !important; }

// ==============================
// margin-top
// ========================================

.mt-0 { margin-top: 0 !important; }
.mt-1 { margin-top: ($spacer-y) !important; }
.mt-2 { margin-top: ($spacer-y * 2) !important; }
.mt-3 { margin-top: ($spacer-y * 3) !important; }
.mt-4 { margin-top: ($spacer-y * 4) !important; }

// ==============================
// margin-left
// ========================================

.ml-0 { margin-left: 0 !important; }
.ml-1 { margin-left: ($spacer-x) !important; }
.ml-2 { margin-left: ($spacer-x * 2) !important; }
.ml-3 { margin-left: ($spacer-x * 3) !important; }
.ml-4 { margin-left: ($spacer-x * 4) !important; }

// ==============================
// margin-right
// ========================================

.mr-0 { margin-right: 0 !important; }
.mr-1 { margin-right: ($spacer-x) !important; }
.mr-2 { margin-right: ($spacer-x * 2) !important; }
.mr-3 { margin-right: ($spacer-x * 3) !important; }
.mr-4 { margin-right: ($spacer-x * 4) !important; }

// ==============================
// padding
// ========================================

.p-0 { padding: 0 !important; }
.p-1 { padding: ($spacer) !important; }
.p-2 { padding: ($spacer * 2) !important; }
.p-3 { padding: ($spacer * 3) !important; }
.p-4 { padding: ($spacer * 4) !important; }

// ==============================
// padding-bottom
// ========================================

.pb-0 { padding-bottom: 0 !important; }
.pb-1 { padding-bottom: ($spacer-y) !important; }
.pb-2 { padding-bottom: ($spacer-y * 2) !important; }
.pb-3 { padding-bottom: ($spacer-y * 3) !important; }
.pb-4 { padding-bottom: ($spacer-y * 4) !important; }

// ==============================
// padding-top
// ========================================

.pt-0 { padding-top: 0 !important; }
.pt-1 { padding-top: ($spacer-y) !important; }
.pt-2 { padding-top: ($spacer-y * 2) !important; }
.pt-3 { padding-top: ($spacer-y * 3) !important; }
.pt-4 { padding-top: ($spacer-y * 4) !important; }

// ==============================
// padding-left
// ========================================

.pl-0 { padding-left: 0 !important; }
.pl-1 { padding-left: ($spacer-x) !important; }
.pl-2 { padding-left: ($spacer-x * 2) !important; }
.pl-3 { padding-left: ($spacer-x * 3) !important; }
.pl-4 { padding-left: ($spacer-x * 4) !important; }

// ==============================
// padding-right
// ========================================

.pr-0 { padding-right: 0 !important; }
.pr-1 { padding-right: ($spacer-x) !important; }
.pr-2 { padding-right: ($spacer-x * 2) !important; }
.pr-3 { padding-right: ($spacer-x * 3) !important; }
.pr-4 { padding-right: ($spacer-x * 4) !important; }
