<header class="page-header">
  <h1 class="page-header__title">{{page-header__title}}</h1>
  <ul class="page-header__breadcrumb">
    <li><a href="/home.html">Home</a></li>
    <li>{{page-header__title}}</li>
  </ul>
</header>
