// ==============================
// Intro
// ========================================

.intro {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999999999;
  background: $color-black;
  opacity: 1;
  transition: opacity 1s ease-out;

  &.transition--out {
    opacity: 0;
    pointer-events: none;
  }

  .icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 12%;
  }
}
