// ==============================
// hero
// ========================================

.hero {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 60px 20px 20px 20px;
  @include mq($from: tablet) {
    height: calc(100% - 60px);
  }
}

// ==============================
// hero element
// ========================================

.hero__content {
  width: 100%;

  @include mq($from: tablet) {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .card {
    width: 100%;
    max-width: 300px;
    margin: $spacer-y*1.2 auto $spacer-y*2 auto;

    @include mq($from: tablet) {
      margin: 0 $spacer-y auto auto;
    }
  }

}

// ====================
// hero modifiers
// ========================================

// .hero--modifier {
// }
