// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

// ====================
// button variant
// ========================================

@mixin button-variant($color, $background, $border) {
  $active-background: darken($background, 10%);
  $active-border: darken($border, 12%);

  background-color: $background;
  border-color: $border;
  color: $color;

  @include hover {
    background-color: $active-background;
    border-color: $active-border;
    color: $color;
  }

  &:focus {
    background-color: $active-background;
    border-color: $active-border;
    color: $color;
  }

  &:active {
    background-color: $active-background;
    background-image: none;
    border-color: $active-border;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    color: $color;

    &:hover,
    &:focus {
      background-color: darken($background, 17%);
      border-color: darken($border, 25%);
      color: $color;
    }
  }

  &:disabled {
    &:focus {
      background-color: $background;
      border-color: $border;
    }
    @include hover {
      background-color: $background;
      border-color: $border;
    }
  }
}

@mixin button-outline-variant($color, $color-hover: #fff) {
  color: $color;
  background-image: none;
  background-color: transparent;
  border-color: $color;

  @include hover {
    color: $color-hover;
    background-color: $color;
    border-color: $color;
  }

  &:focus,
  &.focus {
    box-shadow: 0 0 0 2px rgba($color, .5);
  }

  &.disabled,
  &:disabled {
    color: $color;
    background-color: transparent;
  }

  &:active,
  &.active {
    color: $color-hover;
    background-color: $color;
    border-color: $color;
  }
}

// Button sizes
@mixin button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
  font-size: $font-size;
  line-height: $line-height;
  padding: $padding-y $padding-x;
  @include border-radius($border-radius);
}

// SVG Button mixin
// To update this SVG, first ensure /_components/buttons/btn.svg is updated then copy their path to here
//
@mixin button-svg-variant($color, $color-hover-text, $bg-hover-opacity: 1) {
  border-image-source: svg-url("<svg xmlns='http://www.w3.org/2000/svg' width='160' height='50' viewBox='0 0 160 50' opacity='.8'><path fill='#{$color}' d='M158.8 1.5c-10.5-.1-20.9.8-31.3.7C107.3.9 87 .6 66.7.3 50.5.1 34.1-.3 17.9.3 12.8.5 6-.1 1.1 2c-.3.2-.5.6-.5.9C.3 17.8-.3 32.6.2 47.5v.2h.2C43.3 48.8 86.2 50.2 129 50c6.2 0 12.3-.1 18.6-.4 3.2-.2 7.3 0 10.4-1.2.5-.2.8-.6.9-1.2.6-14.9 1.1-29.7 1.1-44.6-.1-.6-.6-1.1-1.2-1.1zm-26.4 46.1c-11.9.2-23.7 0-35.7-.2-21.9-.3-43.7.1-65.6-.3-10.2-.1-20.3-.1-30.5.2L2.1 9.9c.2-1.8.4-3.6.3-5.4 0-.2 0-.5.1-.8.8.2 2.8-.5 3.8-.5 2-.2 4-.2 6-.3 20.2-.9 40.4-.5 60.6 0 18.3.5 36.3.2 54.6-.3 10.1.1 20.1 1 30.2 1.2-.1 14.2-.7 28.5-1.3 42.7-2.5.8-5.7.7-8.2.9-5.2.1-10.5.2-15.8.2z'/></svg>");
  color: $color;

  @include hover-focus {
    background-color: rgba($color,$bg-hover-opacity) !important;
    color: $color-hover-text !important;
  }
}
