<div class="row">
  <div class="col-md-6 col-lg-4 col-xl-3 solo-work">
    {{> card
      card__classes="card--external-link"
      card__media__aspect="aspect--1-1"
      card__img__src="https://cdn.shopify.com/s/files/1/0023/2122/products/GI-287_3000x300_grande_174ddd49-c3c1-4bee-97a8-f570dc9ed523_1200x.jpg"
      card__img__srcset_md="https://cdn.shopify.com/s/files/1/0023/2122/products/GI-287_3000x300_grande_174ddd49-c3c1-4bee-97a8-f570dc9ed523_1200x.jpg"
      card__title="Lusine - Sensorimotor LP, Ghostly International :: GI-287"
      card__title__classes="lead text--uppercase"
      card__link="https://ghostly.com/products/sensorimotor"
      card__date="2017"
    }}
  </div>
  <div class="col-md-6 col-lg-4 col-xl-3 solo-work">
    {{> card
      card__classes="card--external-link"
      card__media__aspect="aspect--1-1"
      card__img__src="https://cdn.shopify.com/s/files/1/0023/2122/products/GI-287_3000x300_grande_174ddd49-c3c1-4bee-97a8-f570dc9ed523_1200x.jpg"
      card__img__srcset_md="https://cdn.shopify.com/s/files/1/0023/2122/products/GI-287_3000x300_grande_174ddd49-c3c1-4bee-97a8-f570dc9ed523_1200x.jpg"
      card__title="Lusine - Sensorimotor LP, Ghostly International :: GI-287"
      card__title__classes="lead text--uppercase"
      card__link="https://ghostly.com/products/sensorimotor"
      card__date="2017"
    }}
  </div>
  <div class="col-md-6 col-lg-4 col-xl-3 solo-work">
    {{> card
      card__classes="card--external-link"
      card__media__aspect="aspect--1-1"
      card__img__src="https://cdn.shopify.com/s/files/1/0023/2122/products/GI-287_3000x300_grande_174ddd49-c3c1-4bee-97a8-f570dc9ed523_1200x.jpg"
      card__img__srcset_md="https://cdn.shopify.com/s/files/1/0023/2122/products/GI-287_3000x300_grande_174ddd49-c3c1-4bee-97a8-f570dc9ed523_1200x.jpg"
      card__title="Lusine - Sensorimotor LP, Ghostly International :: GI-287"
      card__title__classes="lead text--uppercase"
      card__link="https://ghostly.com/products/sensorimotor"
      card__date="2017"
    }}
  </div>
  <div class="col-md-6 col-lg-4 col-xl-3 solo-work">
    {{> card
      card__classes="card--external-link"
      card__media__aspect="aspect--1-1"
      card__img__src="https://cdn.shopify.com/s/files/1/0023/2122/products/GI-287_3000x300_grande_174ddd49-c3c1-4bee-97a8-f570dc9ed523_1200x.jpg"
      card__img__srcset_md="https://cdn.shopify.com/s/files/1/0023/2122/products/GI-287_3000x300_grande_174ddd49-c3c1-4bee-97a8-f570dc9ed523_1200x.jpg"
      card__title="Lusine - Sensorimotor LP, Ghostly International :: GI-287"
      card__title__classes="lead text--uppercase"
      card__link="https://ghostly.com/products/sensorimotor"
      card__date="2017"
    }}
  </div>
  <div class="col-md-6 col-lg-4 col-xl-3 solo-work">
    {{> card
      card__classes="card--external-link"
      card__media__aspect="aspect--1-1"
      card__img__src="https://cdn.shopify.com/s/files/1/0023/2122/products/GI-287_3000x300_grande_174ddd49-c3c1-4bee-97a8-f570dc9ed523_1200x.jpg"
      card__img__srcset_md="https://cdn.shopify.com/s/files/1/0023/2122/products/GI-287_3000x300_grande_174ddd49-c3c1-4bee-97a8-f570dc9ed523_1200x.jpg"
      card__title="Lusine - Sensorimotor LP, Ghostly International :: GI-287"
      card__title__classes="lead text--uppercase"
      card__link="https://ghostly.com/products/sensorimotor"
      card__date="2017"
    }}
  </div>
  <div class="col-md-6 col-lg-4 col-xl-3 solo-work">
    {{> card
      card__classes="card--external-link"
      card__media__aspect="aspect--1-1"
      card__img__src="https://cdn.shopify.com/s/files/1/0023/2122/products/GI-287_3000x300_grande_174ddd49-c3c1-4bee-97a8-f570dc9ed523_1200x.jpg"
      card__img__srcset_md="https://cdn.shopify.com/s/files/1/0023/2122/products/GI-287_3000x300_grande_174ddd49-c3c1-4bee-97a8-f570dc9ed523_1200x.jpg"
      card__title="Lusine - Sensorimotor LP, Ghostly International :: GI-287"
      card__title__classes="lead text--uppercase"
      card__link="https://ghostly.com/products/sensorimotor"
      card__date="2017"
    }}
  </div>
  <div class="col-md-6 col-lg-4 col-xl-3 remix">
    {{> card
      card__classes="card--external-link"
      card__media__aspect="aspect--1-1"
      card__img__src="https://cdn.shopify.com/s/files/1/0023/2122/products/GI-307_3000x300_4ea641d9-1437-4532-8c6e-df3b245cdd9e_1200x.jpg"
      card__img__srcset_md="https://cdn.shopify.com/s/files/1/0023/2122/products/GI-307_3000x300_4ea641d9-1437-4532-8c6e-df3b245cdd9e_1200x.jpg"
      card__title="Lusine — Sensorimotor Remixes"
      card__title__classes="lead text--uppercase"
      card__link="https://ghostly.com/products/sensorimotor-remixes"
      card__date="2017"
    }}
  </div>
  <div class="col-md-6 col-lg-4 col-xl-3 remix">
    {{> card
      card__classes="card--external-link"
      card__media__aspect="aspect--1-1"
      card__img__src="https://cdn.shopify.com/s/files/1/0023/2122/products/GI-307_3000x300_4ea641d9-1437-4532-8c6e-df3b245cdd9e_1200x.jpg"
      card__img__srcset_md="https://cdn.shopify.com/s/files/1/0023/2122/products/GI-307_3000x300_4ea641d9-1437-4532-8c6e-df3b245cdd9e_1200x.jpg"
      card__title="Lusine — Sensorimotor Remixes"
      card__title__classes="lead text--uppercase"
      card__link="https://ghostly.com/products/sensorimotor-remixes"
      card__date="2017"
    }}
  </div>
  <div class="col-md-6 col-lg-4 col-xl-3 remix">
    {{> card
      card__classes="card--external-link"
      card__media__aspect="aspect--1-1"
      card__img__src="https://cdn.shopify.com/s/files/1/0023/2122/products/GI-307_3000x300_4ea641d9-1437-4532-8c6e-df3b245cdd9e_1200x.jpg"
      card__img__srcset_md="https://cdn.shopify.com/s/files/1/0023/2122/products/GI-307_3000x300_4ea641d9-1437-4532-8c6e-df3b245cdd9e_1200x.jpg"
      card__title="Lusine — Sensorimotor Remixes"
      card__title__classes="lead text--uppercase"
      card__link="https://ghostly.com/products/sensorimotor-remixes"
      card__date="2017"
    }}
  </div>
  <div class="col-md-6 col-lg-4 col-xl-3 remix">
    {{> card
      card__classes="card--external-link"
      card__media__aspect="aspect--1-1"
      card__img__src="https://cdn.shopify.com/s/files/1/0023/2122/products/GI-307_3000x300_4ea641d9-1437-4532-8c6e-df3b245cdd9e_1200x.jpg"
      card__img__srcset_md="https://cdn.shopify.com/s/files/1/0023/2122/products/GI-307_3000x300_4ea641d9-1437-4532-8c6e-df3b245cdd9e_1200x.jpg"
      card__title="Lusine — Sensorimotor Remixes"
      card__title__classes="lead text--uppercase"
      card__link="https://ghostly.com/products/sensorimotor-remixes"
      card__date="2017"
    }}
  </div>
  <div class="col-md-6 col-lg-4 col-xl-3 music-video">
    {{> card
      card__classes="card--video"
      card__media__aspect="aspect--1-1"
      card__img__src="https://cdn.shopify.com/s/files/1/0023/2122/products/GI-217_1500x300_1200x.jpg"
      card__img__srcset_md="https://cdn.shopify.com/s/files/1/0023/2122/products/GI-217_1500x300_1200x.jpg"
      card__video="https://player.vimeo.com/video/100957047?autoplay=1&color=ffffff"
      card__title="Lusine - Arterial"
      card__title__classes="lead text--uppercase"
      card__link=false
      card__date="2014"
    }}
  </div>
  <div class="col-md-6 col-lg-4 col-xl-3 music-video">
    {{> card
      card__classes="card--video"
      card__media__aspect="aspect--1-1"
      card__img__src="https://cdn.shopify.com/s/files/1/0023/2122/products/GI-217_1500x300_1200x.jpg"
      card__img__srcset_md="https://cdn.shopify.com/s/files/1/0023/2122/products/GI-217_1500x300_1200x.jpg"
      card__video="https://player.vimeo.com/video/100957047?autoplay=1&color=ffffff"
      card__title="Lusine - Arterial"
      card__title__classes="lead text--uppercase"
      card__link=false
      card__date="2014"
    }}
  </div>
  <div class="col-md-6 col-lg-4 col-xl-3 music-video">
    {{> card
      card__classes="card--video"
      card__media__aspect="aspect--1-1"
      card__img__src="https://cdn.shopify.com/s/files/1/0023/2122/products/GI-217_1500x300_1200x.jpg"
      card__img__srcset_md="https://cdn.shopify.com/s/files/1/0023/2122/products/GI-217_1500x300_1200x.jpg"
      card__video="https://player.vimeo.com/video/100957047?autoplay=1&color=ffffff"
      card__title="Lusine - Arterial"
      card__title__classes="lead text--uppercase"
      card__link=false
      card__date="2014"
    }}
  </div>
  <div class="col-md-6 col-lg-4 col-xl-3 film">
    {{> card
      card__classes="card--audio"
      card__media__aspect="aspect--2-3"
      card__img__src="https://www.dvdsreleasedates.com/posters/800/J/Joe-2014-movie-poster.jpg"
      card__img__srcset_md="https://www.dvdsreleasedates.com/posters/800/J/Joe-2014-movie-poster.jpg"
      card__video=""
      card__audio="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/32721496&color=%23d1d1d1&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
      card__title="Joe"
      card__title__classes="lead text--uppercase"
      card__link=false
      card__date="2013"
      card__text="Director: David Gordon Green, Studio: Lionsgate/Roadside, <a href='http://www.imdb.com/title/tt2382396/' class='text--dark'>Joe @ Imdb</a>"
    }}
  </div>
  <div class="col-md-6 col-lg-4 col-xl-3 film">
    {{> card
      card__classes="card--audio"
      card__media__aspect="aspect--2-3"
      card__img__src="https://www.dvdsreleasedates.com/posters/800/J/Joe-2014-movie-poster.jpg"
      card__img__srcset_md="https://www.dvdsreleasedates.com/posters/800/J/Joe-2014-movie-poster.jpg"
      card__video=""
      card__audio="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/32721496&color=%23d1d1d1&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
      card__title="Joe"
      card__title__classes="lead text--uppercase"
      card__link=false
      card__date="2013"
      card__text="Director: David Gordon Green, Studio: Lionsgate/Roadside, <a href='http://www.imdb.com/title/tt2382396/' class='text--dark'>Joe @ Imdb</a>"
    }}
  </div>
  <div class="col-md-6 col-lg-4 col-xl-3 game">
    {{> card
      card__classes="card--video"
      card__media__aspect="aspect--1-1"
      card__img__src="https://i2.wp.com/www.gottabemobile.com/wp-content/uploads/2017/08/gta-smugglers.jpg?resize=740%2C740&ssl=1"
      card__img__srcset_md="https://i2.wp.com/www.gottabemobile.com/wp-content/uploads/2017/08/gta-smugglers.jpg?resize=740%2C740&ssl=1"
      card__video="https://www.youtube.com/embed/KI1ukKxPsGc"
      card__audio=""
      card__title="Grand Theft Auto"
      card__title__classes="lead text--uppercase"
      card__link=false
    }}
  </div>
  <div class="col-md-6 col-lg-4 col-xl-3 ad">
    {{> card
      card__classes="card--video"
      card__media__aspect="aspect--1-1"
      card__img__src="https://upload.wikimedia.org/wikipedia/commons/3/36/Sol_Republic_logo.png"
      card__img__srcset_md="https://upload.wikimedia.org/wikipedia/commons/3/36/Sol_Republic_logo.png"
      card__video="https://www.youtube.com/embed/bme-xiskVqA"
      card__title="SOL REPUBLIC"
      card__title__classes="lead text--uppercase"
      card__link=false
    }}
  </div>
  <div class="col-md-6 col-lg-4 col-xl-3 music-placement">
    {{> card
      card__classes="card--video"
      card__media__aspect="aspect--1-1"
      card__img__src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHWN6Lkj4iHBmRJTV0-WDpnNWxl0LN8tLoqIeVoWVd2iuQtC7N"
      card__img__srcset_md="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHWN6Lkj4iHBmRJTV0-WDpnNWxl0LN8tLoqIeVoWVd2iuQtC7N"
      card__video="https://www.youtube.com/embed/tBCzBiN09Fs"
      card__title="Louis Vuitton - Track Title: Chatter"
      card__title__classes="lead text--uppercase"
      card__link=false
    }}
  </div>

</div>
