<div class="row">
  <div class="col-sm-6 col-md-4 col-lg-3 solo-work">
    {{> card
      card__media__aspect="aspect--1-1"
      card__img__src="https://via.placeholder.com/1000x1000"
      card__img__srcset_md="https://via.placeholder.com/1000x1000"
      card__title="Card title"
      card__title__classes="lead text--uppercase"
      card__link="#"
      card__date="18th August 2018"
    }}
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 solo-work">
    {{> card
      card__classes="card--external-link"
      card__media__aspect="aspect--1-1"
      card__img__src="https://via.placeholder.com/1000x1000"
      card__img__srcset_md="https://via.placeholder.com/1000x1000"
      card__title="Card title"
      card__title__classes="lead text--uppercase"
      card__link="#"
      card__date="18th August 2018"
    }}
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 solo-work">
    {{> card
      card__classes="card--external-link"
      card__media__aspect="aspect--1-1"
      card__img__src="https://via.placeholder.com/1000x1000"
      card__img__srcset_md="https://via.placeholder.com/1000x1000"
      card__title="Card title"
      card__title__classes="lead text--uppercase"
      card__link="#"
      card__date="18th August 2018"
    }}
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 solo-work">
    {{> card
      card__media__aspect="aspect--1-1"
      card__img__src="https://via.placeholder.com/1000x1000"
      card__img__srcset_md="https://via.placeholder.com/1000x1000"
      card__title="Card title"
      card__title__classes="lead text--uppercase"
      card__link="#"
      card__date="18th August 2018"
    }}
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 solo-work">
    {{> card
      card__media__aspect="aspect--1-1"
      card__img__src="https://via.placeholder.com/1000x1000"
      card__img__srcset_md="https://via.placeholder.com/1000x1000"
      card__title="Card title"
      card__title__classes="lead text--uppercase"
      card__link="#"
      card__date="18th August 2018"
    }}
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 solo-work">
    {{> card
      card__media__aspect="aspect--1-1"
      card__img__src="https://via.placeholder.com/1000x1000"
      card__img__srcset_md="https://via.placeholder.com/1000x1000"
      card__title="Card title"
      card__title__classes="lead text--uppercase"
      card__link="#"
      card__date="18th August 2018"
    }}
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 remixes">
    {{> card
      card__media__aspect="aspect--1-1"
      card__img__src="https://via.placeholder.com/1000x1000"
      card__img__srcset_md="https://via.placeholder.com/1000x1000"
      card__title="Card title"
      card__title__classes="lead text--uppercase"
      card__link="#"
      card__date="18th August 2018"
    }}
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 remixes">
    {{> card
      card__media__aspect="aspect--1-1"
      card__img__src="https://via.placeholder.com/1000x1000"
      card__img__srcset_md="https://via.placeholder.com/1000x1000"
      card__title="Card title"
      card__title__classes="lead text--uppercase"
      card__link="#"
      card__date="18th August 2018"
    }}
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 remixes">
    {{> card
      card__media__aspect="aspect--1-1"
      card__img__src="https://via.placeholder.com/1000x1000"
      card__img__srcset_md="https://via.placeholder.com/1000x1000"
      card__title="Card title"
      card__title__classes="lead text--uppercase"
      card__link="#"
      card__date="18th August 2018"
    }}
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 remixes">
    {{> card
      card__media__aspect="aspect--1-1"
      card__img__src="https://via.placeholder.com/1000x1000"
      card__img__srcset_md="https://via.placeholder.com/1000x1000"
      card__title="Card title"
      card__title__classes="lead text--uppercase"
      card__link="#"
      card__date="18th August 2018"
    }}
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 remixes">
    {{> card
      card__media__aspect="aspect--1-1"
      card__img__src="https://via.placeholder.com/1000x1000"
      card__img__srcset_md="https://via.placeholder.com/1000x1000"
      card__title="Card title"
      card__title__classes="lead text--uppercase"
      card__link="#"
      card__date="18th August 2018"
    }}
  </div>
</div>
