<div class="socialicons {{#if header-social}}socialicons--header{{else}}mb-1{{/if}}">
  <span class="socialicon">
    <a href="http://www.facebook.com/pages/Lusine/276561268164" target="_blank" rel="noopener">
      <span class="socialicon__icon">{{> socialicon-facebook }}</span>
    </a>
  </span>
  <span class="socialicon">
    <a href="https://soundcloud.com/lusine-official" target="_blank" rel="noopener">
      <span class="socialicon__icon">{{> socialicon-soundcloud }}</span>
    </a>
  </span>
  <span class="socialicon">
    <a href="https://open.spotify.com/artist/2fMe9lZs5HGGOwh8cMSIub" target="_blank" rel="noopener">
      <span class="socialicon__icon">{{> socialicon-spotify }}</span>
    </a>
  </span>
  <span class="socialicon hidden">
    <a href="" target="_blank" rel="noopener">
      <span class="socialicon__icon">{{> socialicon-instagram }}</span>
    </a>
  </span>
</div>
