{{!-- start of header --}}
<header class="header">
  <div class="header__wpr">
    <a class="header__logo" href="/home.html">
      {{> icon--logo icon__width="100" }}
    </a>
    <ul class="header__nav">
      <li class="header__nav__li"><a href="home.html">Home</a></li>
      <li class="header__nav__li"><a href="news.html">News</a></li>
      <li class="header__nav__li"><a href="work.html">Work</a></li>
      <li class="header__nav__li"><a href="live-dates.html">Live Dates</a></li>
      <li class="header__nav__li"><a href="press.html">Press</a></li>
      <li class="header__nav__li"><a href="contact.html">Contact</a></li>
    </ul>
    <div class="header__social">
      {{> socialicons header-social="true"}}
    </div>
  </div>
</header>

<button class="header__nav__trigger">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</button>
{{!-- end of header --}}
