// ==============================
// Post
// ========================================

.post {
  border-bottom: 1px solid $color-white;
  margin-bottom: ($spacer*5);
  padding-bottom: ($spacer*2);
}

// ==============================
// Post Title and date
// ========================================

.post__title {

}

.post__date {

}

// ==============================
// Post body
// ========================================

.post__body {

}
