<div class="footer">
  <div class="footer__wpr">
    {{> socialicons }}
    <span class="divider divider--sm divider--center mb-1" aria-hidden="true"></span>
    <p class="footer__copyright">&copy; COPYRIGHT 2018 LUSINE | JEFF MCILWAIN. ALL&nbsp;RIGHTS&nbsp;RESERVED.</p>
  </div>
</div>
