<div class="footer">
  <div class="footer__wpr">
    <div class="socialicons mb-1">
      <span class="socialicon">
        <a href="" target="_blank" rel="noopener">
          <span class="socialicon__icon">{{> socialicon-facebook }}</span>
        </a>
      </span>
      <span class="socialicon">
        <a href="https://twitter.com/MADFESTLONDON" target="_blank" rel="noopener">
          <span class="socialicon__icon">{{> socialicon-soundcloud }}</span>
        </a>
      </span>
      <span class="socialicon">
        <a href="https://www.linkedin.com/company/mad-fest/" target="_blank" rel="noopener">
          <span class="socialicon__icon">{{> socialicon-spotify }}</span>
        </a>
      </span>
      <span class="socialicon">
        <a href="https://www.instagram.com/madfestlondon/" target="_blank" rel="noopener">
          <span class="socialicon__icon">{{> socialicon-instagram }}</span>
        </a>
      </span>
    </div>
    <span class="divider divider--sm divider--center mb-1" aria-hidden="true"></span>
    <p class="footer__copyright">&copy; COPYRIGHT 2018 LUSINE | JEFF MCILWAIN. ALL&nbsp;RIGHTS&nbsp;RESERVED.</p>
  </div>
</div>
