// ==============================
// Buttons
// ========================================

.btn {
  border: $input-btn-border-width solid transparent;
  cursor: pointer;
  display: inline-block;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-transform: uppercase;

  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus();
    }
  }

  @include hover-focus {
    text-decoration: none;
  }

  &:active {
    background-image: none;
    outline: 0;
    box-shadow: inset 0 2px 4px rgba(0,0,0,.01);
  }

  &:disabled {
    opacity: .3;
    cursor: disabled;
  }
}

// ====================
// button colors
// ========================================

// Light
.btn--light {
  @include button-variant($color-grey-dark, $color-white, $color-white);
}

// Dark
.btn--dark {
  @include button-variant($color-white, $color-grey-dark, $color-grey-dark);
}

// Theme colors
.btn--a {
  @include button-variant($color-white, $color-a-primary, $color-a-primary);
}
.btn--b {
  @include button-variant($color-white, $color-b-primary, $color-b-primary);
}
.btn--c {
  @include button-variant($color-white, $color-c-primary, $color-c-primary);
}
.btn--d {
  @include button-variant($color-white, $color-d-primary, $color-d-primary);
}
.btn--e {
  @include button-variant($color-white, $color-e-primary, $color-e-primary);
}
.btn--f {
  @include button-variant($color-white, $color-f-primary, $color-f-primary);
}

// ====================
// button link
//
// Make a button look and behave like a link
// ========================================

.btn--link {
  color: $link-color;
  font-weight: normal;
  text-transform: none;
  text-decoration: $link-decoration;

  &,
  &:active {
    background-color: transparent;
  }
  &,
  &:focus,
  &:active {
    border-color: transparent;
  }
  @include hover {
    border-color: transparent;
  }
  @include hover-focus {
    background-color: transparent;
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

// ====================
// block buttons
// ========================================

.btn--block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
//
.btn--block + .btn--block {
  margin-top: $btn-block-spacing-y;
}

// ====================
// button sizes
// ========================================

// Small
//
.btn--sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($btn-sm-padding-y, $btn-sm-padding-x, $btn-sm-font-size, $btn-sm-line-height, $btn-sm-border-radius);

  .btn__icon {
    font-size: ($btn-sm-font-size - 1);
  }
}