---
title: "Contact"
body_classes:
layout: default
meta_url: contact
---

<div class="container">

  {{> page-header page-header__title="Contact"}}

  <section class="section mw-950">
    <div class="section__block">
      <div class="pb-4">
        <h2 class="display-1">North American Bookings</h2>
        <p class="lead"><a href="https://pivotal-agency.com/artists/lusine/">Cole Jones/Pivotal Agency</a></p>
      </div>
      <div class="pb-4">
        <h2 class="display-1">Worldwide Bookings</h2>
        <p class="lead"><a href="mailto:info@connectbookings.com">Connect Bookings</a></p>
      </div>
      <div class="pb-4">
        <h2 class="display-1">All Other Inquiries</h2>
        <p class="lead"><a href="mailto:jeff@lusineweb.com">Jeff@lusineweb.com</a></p>
      </div>
    </div>
  </section>

</div>
