---
title: "Styleguide"
body_classes: sstyleguide
layout: styleguide
---

<div class="styleguide-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4 class="styleguide-h4">Pages</h4>
        <ul>
          <li><a href="home.html">Home</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <h4 class="styleguide-h4">Components</h4>
        <ul>
          <li><a href="styleguide-buttons.html">Buttons</a></li>
          <li><a href="#colors">Colors</a></li>
          <li><a href="styleguide-component-name.html">Component Name</a></li>
          <li><a href="styleguide-figure.html">Figure</a></li>
          <li><a href="styleguide-grid.html">Grid</a></li>
          <li><a href="styleguide-icons.html">Icons</a></li>
          <li><a href="styleguide-images.html">Images</a></li>
          <li><a href="#typography">Typography</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="styleguide-section" id="typography">
  <div class="container">
    <h2 class="styleguide-h2">Typography</h2>
    <h4 class="styleguide-h4">Headings</h4>
    <p>All heading elements from <code>h1-h6</code> are available via classes <code>.h1-.h6</code> allowing you to style any element as a heading.</p>
    <div class="styleguide-example">
      <h1>h1 heading <small>(.h1)</small></h1>
      <p>h1’s are displayed at <b>34px</b> on mobile, <b>38px</b> on tablet and <b>56px</b> at desktop</em></p>
      <h2>h2 heading <small>(.h2)</small></h2>
      <p>h2’s are displayed at <b>24px</b> on mobile, <b>28px</b> on tablet and <b>36px</b> at desktop</em></p>
      <h3>h3 heading <small>(.h3)</small></h2>
      <p>h3’s are displayed at <b>22px</b> on mobile, <b>26px</b> on tablet and <b>30px</b> at desktop</em></p>
      <h4>h4 heading <small>(.h4)</small></h4>
      <p>h4’s are displayed at <b>18px</b> on mobile, <b>22px</b> on tablet and <b>26px</b> at desktop</em></p>
      <h5>h5 heading <small>(.h5)</small></h5>
      <p>h5’s are displayed at <b>16px</b> on mobile, <b>18px</b> on tablet and <b>24px</b> at desktop</em></p>
      <h6>h6 heading <small>(.h6)</small></h6>
      <p>h6’s are displayed at <b>16px</b> on mobile, <b>18px</b> on tablet and <b>24px</b> at desktop</em></p>
    </div>

    <h4 class="styleguide-h4">Body copy</h4>
    <div class="styleguide-example">
      <p>Consectetur <em>adipisicing elit</em>. Reiciendis placeat. <strong>Quos dolore</strong> officia minus veritatis ullam cumque quod. Omnis at praesentium, dolores dolor beatae consequatur fugiat explicabo veritatis tempora, ea atque dolorum amet, quos quaerat corporis possimus minima natus laboriosam velit, eveniet nam illum. Quam quasi quis nemo deleniti ullam, in, iusto ut voluptatum nam voluptate hic, possimus nobis. Perspiciatis expedita iste cum dolorum minima porro blanditiis eum ea harum, qui, maxime sint ratione. Exercitationem?</p>
      <p>Veniam <a href="#">distinctio autem</a> in voluptas beatae, aspernatur, similique eveniet. Iusto culpa nam, rerum hic vitae tempore voluptas eaque dolorum tempora distinctio dolor quasi quidem aperiam voluptatibus perferendis quas magni blanditiis molestiae vel?</p>
    </div>

    <h4 class="styleguide-h4">Display Text</h4>
    <p>Display text utilities can be applied to any element. Typically used for headings where h1 through h6 do not cater.</p>
    <div class="styleguide-example">
      <h2 class="display-1">Display 1</h2>
      <p><code>.display-1</code> is 30px on mobile, 50px on tablet and 64px at desktop</p>
      <p class="display-2">Display 2</p>
      <p><code>.display-2</code> is 16px on mobile, 20px on tablet and desktop and is uppercase, except when inside a <code>.card</code> when it is 12px on mobile, 14px on tablet and desktop.</p>
      <h3 class="display-3">Display 3</h3>
      <p><code>.display-3</code> is 24px on mobile, 34px on tablet and 42px at desktop</p>
    </div>

    <h4 class="styleguide-h4">Lead body copy <code>.lead</code></h4>
    <div class="styleguide-example">
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero aspernatur voluptates magnam laudantium ipsa nemo voluptatibus, quos perspiciatis illum. Tenetur.</p>
    </div>

    <h4 class="styleguide-h4">Text color utility classes</h4>
    <div class="styleguide-example">
      <p>
        <span class="text--muted">.text--muted</span>&nbsp;&nbsp;
        <span class="text--light bg--dark">.text--light</span>&nbsp;&nbsp;
        <span class="text--dark">.text--dark</span>&nbsp;&nbsp;
        <span class="text--a">.text--a</span>&nbsp;&nbsp;
        <span class="text--b">.text--b</span>&nbsp;&nbsp;
        <span class="text--c">.text--c</span>&nbsp;&nbsp;
        <span class="text--d">.text--d</span>&nbsp;&nbsp;
        <span class="text--e">.text--e</span>&nbsp;&nbsp;
        <span class="text--f">.text--f</span>&nbsp;&nbsp;
      </p>
    </div>

    <h4 class="styleguide-h4">Text alignment utility classes</h4>
    <div class="styleguide-example">
      <p class="text--left">.text--left</p>
      <p class="text--center">.text--center</p>
      <p class="text--right">.text--right</p>
    </div>

    <h4 class="styleguide-h4">Responsive text alignment utility classes</h4>
    <p>Along with standard text alignment utility classes we also have responsive alignment classes allowing you to align text from breakpoints.</p>
    <div class="styleguide-example">
      <p class="m-b-0 text--left-tablet-up">.text--left-tablet-up</p>
      <p class="m-b-0 text--center-tablet-up">.text--center-tablet-up</p>
      <p class="m-b-0 text--right-tablet-up">.text--right-tablet-up</p>
      <p class="m-b-0 text--left-desktop-up">.text--left-desktop-up</p>
      <p class="m-b-0 text--center-desktop-up">.text--center-desktop-up</p>
      <p class="m-b-0 text--right-desktop-up">.text--right-desktop-up</p>
      <p class="m-b-0 text--left-wide-up">.text--left-wide-up</p>
      <p class="m-b-0 text--center-wide-up">.text--center-wide-up</p>
      <p class="m-b-0 text--right-wide-up">.text--right-wide-up</p>
    </div>

    <h4 class="styleguide-h4">Text transform utility classes</h4>
    <div class="styleguide-example">
      <p class="text--lowercase">.text-lowercase</p>
      <p class="text--uppercase">.text--uppercase</p>
      <p class="text--capitalize">.text--capitalize</p>
      <p class="text--capitalize-first">.text--capitalize-first</p>
    </div>

    <h4 class="styleguide-h4">Lists</h4>
    <h5 class="styleguide-h5">Unordered list <code>ul</code></h5>
    <div class="styleguide-example">
      <ul>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Consectetur adipiscing elit</li>
        <li>Integer molestie lorem at massa</li>
        <li>Facilisis in pretium nisl aliquet</li>
        <li>Nulla volutpat aliquam velit</li>
        <li>
          Phasellus iaculis neque
          <ul>
            <li>Purus sodales ultricies</li>
            <li>Vestibulum laoreet porttitor sem</li>
            <li>Ac tristique libero volutpat at</li>
            <li>Faucibus porta lacus fringilla vel</li>
          </ul>
        </li>
        <li>Aenean sit amet erat nunc</li>
        <li>Eget porttitor lorem</li>
      </ul>
    </div>
    <h5 class="styleguide-h5">Ordered list <code>ol</code></h5>
    <div class="styleguide-example">
      <ol>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Consectetur adipiscing elit</li>
        <li>Integer molestie lorem at massa</li>
        <li>Facilisis in pretium nisl aliquet</li>
        <li>Nulla volutpat aliquam velit</li>
        <li>Faucibus porta lacus fringilla vel</li>
        <li>Aenean sit amet erat nunc</li>
        <li>Eget porttitor lorem</li>
      </ol>
    </div>
    <h5 class="styleguide-h5">Unstyled <code>.list--unstyled</code></h5>
    <div class="styleguide-example">
      <ul class="list--unstyled">
        <li>Lorem ipsum dolor sit amet</li>
        <li>Consectetur adipiscing elit</li>
        <li>Integer molestie lorem at massa</li>
        <li>Facilisis in pretium nisl aliquet</li>
        <li>Nulla volutpat aliquam velit</li>
        <li>
          Phasellus iaculis neque
          <ul>
            <li>Purus sodales ultricies</li>
            <li>Vestibulum laoreet porttitor sem</li>
            <li>Ac tristique libero volutpat at</li>
            <li>Faucibus porta lacus fringilla vel</li>
          </ul>
        </li>
        <li>Aenean sit amet erat nunc</li>
        <li>Eget porttitor lorem</li>
      </ul>
    </div>
    <h5 class="styleguide-h5">Definition list <code>dl</code></h5>
    <div class="styleguide-example">
      <dl>
        <dt>Lorem ipsum dolor sit amet</dt>
        <dd>Consectetur adipiscing elit</dd>
        <dt>Integer molestie lorem at massa</dt>
        <dd>Facilisis in pretium nisl aliquet</dd>
        <dt>Nulla volutpat aliquam velit</dt>
        <dd>Aenean sit amet erat nunc</dd>
      </dl>
    </div>
    <h5 class="styleguide-h5">Definition list horizontal <code>.list-horizontal</code></h5>
    <div class="styleguide-example">
      <dl class="list-horizontal">
        <dt>Lorem ipsum dolor sit amet</dt>
        <dd>Consectetur adipiscing elit</dd>
        <dt>Integer molestie lorem at massa</dt>
        <dd>Facilisis in pretium nisl aliquet</dd>
        <dt>Nulla volutpat aliquam velit</dt>
        <dd>Aenean sit amet erat nunc</dd>
      </dl>
    </div>
  </div>
</div>

<div class="styleguide-section styleguide-section--colors" id="colors">
  <div class="container">
    <h2 class="styleguide-h2">Colors</h2>
    <div class="styleguide-color-col">
      <h4 class="styleguide-h4">Light</h4>
      <div>
        <p class="text--light bg--dark">.text--light</p>
      </div>
      <div class="bg--light">
        <p class="text--dark">.bg--light</p>
      </div>
    </div>
    <div class="styleguide-color-col">
      <h4 class="styleguide-h4">Dark</h4>
      <div>
        <p class="text--dark bg--light">.text--dark</p>
      </div>
      <div class="bg--dark">
        <p class="text--light">.bg--light</p>
      </div>
    </div>
    <div class="styleguide-color-col">
      <h4 class="styleguide-h4">A</h4>
      <div>
        <p class="text--a">.text--a</p>
      </div>
      <div class="bg--a">
        <p class="text--light">.bg--a</p>
      </div>
    </div>
    <div class="styleguide-color-col">
      <h4 class="styleguide-h4">B</h4>
      <div>
        <p class="text--b">.text--b</p>
      </div>
      <div class="bg--b">
        <p class="text--light">.bg--b</p>
      </div>
    </div>
    <div class="styleguide-color-col">
      <h4 class="styleguide-h4">C</h4>
      <div>
        <p class="text--c">.text--c</p>
      </div>
      <div class="bg--c">
        <p class="text--light">.bg--c</p>
      </div>
    </div>
    <div class="styleguide-color-col">
      <h4 class="styleguide-h4">D</h4>
      <div>
        <p class="text--d">.text--d</p>
      </div>
      <div class="bg--d">
        <p class="text--light">.bg--d</p>
      </div>
    </div>
    <div class="styleguide-color-col">
      <h4 class="styleguide-h4">E</h4>
      <div>
        <p class="text--e">.text--e</p>
      </div>
      <div class="bg--e">
        <p class="text--light">.bg--e</p>
      </div>
    </div>
    <div class="styleguide-color-col">
      <h4 class="styleguide-h4">F</h4>
      <div>
        <p class="text--f">.text--f</p>
      </div>
      <div class="bg--f">
        <p class="text--light">.bg--f</p>
      </div>
    </div>
  </div>
</div>

<p class="text--center"><a href="#">Back to the top</a></p>
