---
title: "Live Dates"
body_classes:
layout: default
meta_url: live-dates
---

<div class="container">

  {{> page-header page-header__title="Live Dates"}}

  <section class="section mw-950">
    <div class="section__block">
      <h2 class="h3 text--center text--uppercase">Upcoming Dates</h2>
      <span class="divider divider--sm divider--center" aria-hidden="true"></span>
      <div class="live-dates mt-2 mb-4">
        <div class="live-dates__row">
          <div class="live-dates__date">Sept 8, 2018</div>
          <div class="live-dates__info">Mesa por Vida, Santa Fe, NM</div>
          <div class="live-dates__btn"><a href="/" class="btn btn--light btn--sm">Buy tickets</a></div>
        </div>
        <div class="live-dates__row">
          <div class="live-dates__date">Sept 14, 2018</div>
          <div class="live-dates__info">Strategic Reserve, Oakland, CA</div>
          <div class="live-dates__btn"><a href="/" class="btn btn--light btn--sm">Buy tickets</a></div>
        </div>
        <div class="live-dates__row">
          <div class="live-dates__date">Nov 10, 2018</div>
          <div class="live-dates__info">Cervantes Masterpiece Ballroom, Denver, CO</div>
          <div class="live-dates__btn"><a href="/" class="btn btn--light btn--sm">Buy tickets</a></div>
        </div>
      </div>

      <h2 class="h3 text--center text--uppercase mt-4">Past Dates</h2>
      <span class="divider divider--sm divider--center" aria-hidden="true"></span>
      <div class="live-dates mt-2 mb-4">
        <div class="live-dates__row">
          <div class="live-dates__date">June 1-3, 2018</div>
          <div class="live-dates__info">Upstream Festival, Seattle, WA</div>
        </div>
        <div class="live-dates__row">
          <div class="live-dates__date">May 6, 2018</div>
          <div class="live-dates__info">De Helling, Utrecht, Netherlands</div>
        </div>
        <div class="live-dates__row">
          <div class="live-dates__date">May 5, 2018</div>
          <div class="live-dates__info">Poppodium Grenswerk, Venlo, Netherlands</div>
        </div>
        <div class="live-dates__row">
          <div class="live-dates__date">May 4, 2018</div>
          <div class="live-dates__info">tba, Barcelona, Spain</div>
        </div>
        <div class="live-dates__row">
          <div class="live-dates__date">April 28, 2018</div>
          <div class="live-dates__info">L.E.V. Festival, Gijón, Spain</div>
        </div>
        <div class="live-dates__row">
          <div class="live-dates__date">April 27, 2018</div>
          <div class="live-dates__info">Rashoman Club, Rome, Italy</div>
        </div>
      </div>

      <img class="img-fluid mt-4" src="img/content/lusine-live.jpg" alt="Lusine live">
    </div>
  </section>

</div>
