---
title: "Live Dates"
body_classes:
layout: default
meta_url: live-dates
---

<div class="container">

  {{> page-header page-header__title="Live Dates"}}

  <section class="section mw-950">
    <div class="section__block">
      <table class="table">
        <tbody>
          <tr class="table__row">
            <td class="lead">Sept 8</td>
            <td class="text--uppercase">Mesa por Vida, Santa Fe, NM</td>
            <td class=""><a href="/" class="btn btn--light btn--sm">Buy tickets</a></td>
          </tr>
          <tr class="table__row">
            <td class="lead">Sept 14</td>
            <td class="text--uppercase">Strategic Reserve, Oakland, CA</td>
            <td class=""><a href="/" class="btn btn--light btn--sm">Buy tickets</a></td>
          </tr>
          <tr class="table__row">
            <td class="lead">Nov 10</td>
            <td class="text--uppercase">Cervantes Masterpiece Ballroom, Denver, CO</td>
            <td class=""><a href="/" class="btn btn--light btn--sm">Buy tickets</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

</div>
