---
title: "News"
body_classes:
layout: default
meta_url: news
---



<div class="container">

  {{> page-header page-header__title="News"}}

  <section class="section mw-950">
    <div class="section__block">
      <div class="post">
        <h2 class="h2 post__title">Lorem ipsum</h2>
        <p class="small post__date">August 27th, 2018</p>
        <p class="post__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="post">
        <h2 class="h2 post__title">Adipiscing elit</h2>
        <p class="small post__date">August 22nd, 2018</p>
        <p class="post__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/458297688&color=%23837c74&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
      </div>
      <div class="post">
        <h2 class="h2 post__title">Sit amet</h2>
        <p class="small post__date">August 11th, 2018</p>
        <p class="post__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
    </div>
  </section>

</div>
