---
title: "Component Name - Styleguide"
#body_classes:
layout: styleguide
---

<div class="container">

  <ol class="styleguide-breadcrumb">
    <li class="styleguide-breadcrumb__item"><a href="index.html">Styleguide</a></li>
    <li class="styleguide-breadcrumb__item active">Component-Name</li>
  </ol>

  <h1>Component Name</h1>
  <p>Description of <code>.component-name</code></p>

  <div class="styleguide-example">

    <div class="component-name">
      <div class="component-name__element">
        Example component
      </div>
    </div>

  </div>

  <div class="styleguide-example-code">
    <code><pre>&lt;div class=&quot;component-name&quot;&gt;
  &lt;div class=&quot;component-name__element&quot;&gt;
    Example component code goes here.
    You will need to escape the html, this tool is useful:
    http://www.freeformatter.com/html-escape.html
  &lt;/div&gt;
&lt;/div&gt;
</pre></code>
  </div>

  <h3>Variant of component-name</h3>
  <p>Description, don't forget to state any <code>.component-name--modifiers</code> used and provide usage guidelines where appropriate.</p>

  <div class="styleguide-example">

    <div class="component-name component-name--modifier">
      <div class="component-name__element">
        Example component with modifier
      </div>
    </div>

  </div>
  
  <div class="styleguide-example-code">
    <code><pre>&lt;div class=&quot;component-name component-name--modifier&quot;&gt;
  &lt;div class=&quot;component-name__element&quot;&gt;
    Example component with modifier code goes here.
    You will need to escape the html, this tool is useful:
    http://www.freeformatter.com/html-escape.html
  &lt;/div&gt;
&lt;/div&gt;
</pre></code>
  </div>

</div>
