---
title: "Buttons - Styleguide"
#body_classes:
layout: styleguide
---

<div class="container">

  <ol class="styleguide-breadcrumb">
    <li class="styleguide-breadcrumb__item"><a href="index.html">Styleguide</a></li>
    <li class="styleguide-breadcrumb__item active">Buttons</li>
  </ol>

  <h1>Buttons</h1>
  <p>Buttons are built using <code>.btn</code> and any of the modifier classes available below, they can be applied to <code>&lt;a&gt;</code>, <code>&lt;button&gt;</code>, <code>&lt;input&gt;</code> and <code>&lt;submit&gt;</code>, you could even apply the style to a <code>&lt;span&gt;</code>.</p>

  <h3>Buttons regular</h3>
  <p><code>.btn</code></p>
  <div class="styleguide-example">
    <p>
      <a class="btn btn--link" href="#">a.btn--link</a>
      <a class="btn btn--light" href="#">a.btn--light</a>
      <a class="btn btn--dark" href="#">a.btn--dark</a>
      <a class="btn btn--a" href="#">a.btn--a</a>
      <a class="btn btn--b" href="#">a.btn--b</a>
      <a class="btn btn--c" href="#">a.btn--c</a>
      <a class="btn btn--d" href="#">a.btn--d</a>
      <a class="btn btn--e" href="#">a.btn--e</a>
      <a class="btn btn--f" href="#">a.btn--f</a>
    </p>
  </div>
  <h3>Buttons small</h3>
  <p>Add <code>.btn--sm</code> to any <code>.btn</code> to produce a smaller variant</p>
  <div class="styleguide-example">
    <p>
      <a class="btn btn--sm btn--link" href="#">a.btn--sm.btn--link</a>
      <a class="btn btn--sm btn--light" href="#">a.btn--sm.btn--light</a>
      <a class="btn btn--sm btn--dark" href="#">a.btn--sm.btn--dark</a>
      <a class="btn btn--sm btn--a" href="#">a.btn--sm.btn--a</a>
      <a class="btn btn--sm btn--b" href="#">a.btn--sm.btn--b</a>
      <a class="btn btn--sm btn--c" href="#">a.btn--sm.btn--c</a>
      <a class="btn btn--sm btn--d" href="#">a.btn--sm.btn--d</a>
      <a class="btn btn--sm btn--e" href="#">a.btn--sm.btn--e</a>
      <a class="btn btn--sm btn--f" href="#">a.btn--sm.btn--f</a>
    </p>
  </div>
</div>
